<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="../public/styles/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <meta name="google-signin-client_id" content="462656938782-hsf9hb9jmqha8p88d335dp0vetuoph1i.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Hacker Jedi</title>
</head>
<body>
  <header> 
    <div class="intro">

        <h1 class="hacker-jedi"> Hacker Jedi </h1>
        
        
        <div class="login-add"> 
            <a href="#">
                <div class="login">
                    Logout
                </div>
            </a>
        </div>
  
    </div>
    <div class="user-status"> 
        <p class="signed-in-as"> signed in as</p> <p class="user"> Chike Onuorah</p>
    </div> 
    
  </header>

        <div class="form-container"> 
                <div class="tower1"> 
                    <label for="company">Company</label>
                    <input id="company" type="text"> </input>
                    <label for="url">URL</label>
                    <input id="url" type="text"> </input>
                </div>

                <div class="tower2"> 
                    <label for="name">Name </label>
                    <input id ="name" type="text"> </input>
                    <label for="location">Location</label>
                    <input id="location" type="text" > </input>
                    <label for="duration">Duration</label>
                    <input id="duration" type="text"> </input>
                </div>
            </div>
            <label for="name">Description </label>
            <input id="description"> </input>
 


    
   <script src="../public/scripts/app.js"></script>
</body>
</html>