<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hacker Jedi</title>
  <!-- resource: https://www.w3schools.com/bootstrap/bootstrap_get_started.asp MaxCDN provides CDN support for Bootstrap's CSS and JavaScript. You must also include jQuery: -->
  <!-- STYLESHEETS CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    
  <!-- VENDOR SCRIPTS jQuery library -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>

</head>
<body>
  <div class="container-fluid">
    <h1>Welcome to Hacker Jedi app</h1>
    <h2>Login using Google Auth</h2>

    <input type="text" placeholder="Search hacker-jedi database">
    <button type="submit">Search</button>
  </div>
  <!-- add Google autho -->

</body>
</html>