<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hacker Jedi</title>
</head>
<body>
  <h1>Welcome to Hacker Jedi app</h1>
  
  <a href="./profile"> go to user profile </a>
  <!-- add create user plus  -->

  <div>
    <div>Do you like add a new apprenticeship?</div>
      <a href="./createUser.html">Add +</a>
  </div>
  
<footer>
    ## Credits

    - [FVCproductions](https://github.com/fvcproductions) 🍫🍓
    - [Benjamin Modayil](https://modayil.me)
    - [Leilani Raranga](https://linkedin.com/in/leilanir)
    - [Colton Hurst](https://www.coltonhurst.com)
    - [Julia Schultz](https://github.com/jschultz21)
    - [Brittany Hill](https://github.com/ibrittanyhill)
    - [Chris Miller](https://www.linkedin.com/in/chris-miller-6470751/)
    - [Mark Arce](https://github.com/markarce)
    - [Amy Frieson](https://github.com/amyyf)
</footer>
</body>
</html>